PORT=3000
TMDB_API_KEY=seu_token_tmdb
OMDB_API_KEY=sua_chave_omdb
USE_GCP_WORKFLOW=false
WORKFLOW_ENDPOINT=https://workflowexecutions.googleapis.com/v1/projects/SEU_PROJETO/locations/REGION/workflows/NOME_DO_WORKFLOW/executions
GCP_PROJECT_ID=seu_projeto_gcp
GCP_REGION=us-central1